

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>EtherRider</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
      <!-- style css -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
      <!-- fevicon -->
      <link rel="icon" href="{{url_for('static',filename='images/fevicon.png')}}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.mCustomScrollbar.min.css')}}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <script src="{{url_for('static',filename='new/js/jquery-3.3.1.js')}}"></script>
  <script src="{{url_for('static',filename='new/blockchain.js')}}"></script>    
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div>
<h1 style="color:blue;font-size: 60px;">EtherRider</h1>
   </div>
      <div class="loader_bg">
         <div class="loader"><img src="{{url_for('static',filename='images/loading.gif')}}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <div class="col-md-12">
         
             <div class="col-md-6">
                <div class="text-img">
                   <figure><img src="{{url_for('static',filename='images/car.png')}}" alt="#"/></figure>
                </div>
             </div>
            
         </div>
      </header>
      
      
     
      
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Driver Sign Up</h2>
                     
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <form action="" method="post" class="main_form ">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="form_contril" placeholder="Username " type="text" name="username" id="username">
                        </div>
                        <div class="col-md-12">
                           <input class="form_contril" placeholder="Full Name" type="text" name="fullname" id="fullname">
                        </div>
                        <div class="col-md-12">
                           <input class="form_contril" placeholder="Mobile No" type="text" name="mobile" id="mobile">
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Type Of Vehicle" type="text" name="vehicaltype" id="vehicaltype"></textarea>
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Available Seat" type="text" name="availableseat" id="availableseat"></textarea>
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Password" type="password" name="password" id="password"></textarea>
                        </div>
                        
                        <div class="col-sm-12">
                           <button id="btnRegister" type="button" class="send_btn">SignUp</button>
                        </div>
                        
                         <li><a href="/driverlogin"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a></li><br>
                         <h3>Do You Want to Login</h3>
                        
                        
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
      
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/jquery-3.0.0.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/plugin.js')}}js/plugin.js"></script>
      <!-- sidebar -->
      <script src="{{url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
      <script src="{{url_for('static',filename='js/custom.js')}}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      
      
      
      
       <script>
 		$('#btnRegister').click(function()		
 			{
 				web3=new Web3(web3.currentProvider);
 				
 				var name = $('#username').val().toString();
 				var fullnameofdriver = $('#fullname').val().toString();
 				var mobile = $('#mobile').val().toString(); 
 				var typeofvehicle = $('#vehicaltype').val().toString();
 				var seatavailable = $('#availableseat').val().toString();
 				var password = $('#password').val().toString();
 				var typeofuser = "driver";
 			
 				var accountisobtained="";//accountis;
 				web3.eth.getAccounts((err, res) => { 
 					//console.log(err);
 					accountisobtained=res[0];
 					
 					//$('#acd').html(accountisobtained);
 					var web3dictdata = {
 							gasPrice: web3.utils.stringToHex(gasPriceval),
 							gas: web3.utils.stringToHex(gasval),
 							  to: address,
 							//  value: web3.utils.toWei('1', "ether"),
 							  from:accountisobtained,		
 						} 					

 						var val=contract.methods.driverRegister(accountisobtained,name,fullnameofdriver,mobile,typeofvehicle,seatavailable,password,typeofuser).send(web3dictdata); 
 						console.log(val);
                         $('input[type="text"]').val('');
 						return val;

 				});
 				return false;
 			})
 	</script>
   </body>
</html>

